.videopage {
    height: 100vh
}

.player-wrapper {
    position: relative;
    padding-top: 56.25% 
}

.video {
    margin-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.back-video {
    margin-top: 200px;
    margin-left: 150px;
}
